<!DOCTYPE html>
<html>
<head>
  <title>Whoiser</title>
  <%= stylesheet_link_tag    "whoiser/application", :media => "all" %>
  <%= javascript_include_tag "whoiser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
